
@import "~make";



@mixin c($s) {
	composes: #{$s} from global;
}

@mixin template($s) {
	.max-size#{$s} {
		width: 100%;
		height: 100%;
	}
	.position-center#{$s} {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@include make();
