
.noshow {
	display: none !important; }

%max-size {
	width: 100%;
	height: 100%; }
%default-absolute {
	position: absolute;
	top: 0;
	left: 0; }
%remove-button-defaults {
	padding: 0;
	margin: 0; 
	background: none;
	border: none;
	outline: none;
	cursor: pointer; }
