
@import "master";

html {
	position: fixed;
	@extend %max-size;
	background-color: gray; }
body {
	@extend %max-size;
	margin: 0; }
.root {
	@extend %max-size;
	border-radius: 5px; }
.editor {
	@extend %max-size;
	display: flex;
	flex-direction: column;
	user-select: none; }


.menubar {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 5px 10px;
	background-color: #888;
	border: 3px solid #444; }
.menubar__save-image {
	@extend %remove-button-defaults;
	padding: 0 5px;
	height: 40px;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	background: #444;
	span {
		@extend %regular-font;
		margin: auto;
	} }
.menubar__undo-btn {
	@extend %remove-button-defaults;
	width: 40px;
	height: 40px;
	margin-right: 10px; }
.menubar__undo-btn svg { 
	@extend %max-size; }
.menubar__undo-btn:hover svg { 
	fill: $dark-blue; }
.menubar__undo-btn:disabled svg { 
	fill: #444; }


.editor-content {
	flex: 1;
	position: relative;
	display: flex; }
.area-wrapper {
	flex: 1 1 0;
	position: relative;
	display: flex;
	border: 1px solid #333; }
.area-wrapper.rows {
	flex-direction: row; }
.area {
	flex: 1 1 0;
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid #333;

	.tab-bar {
		height: 50px;
		background-color: #888; }
	.tab-bar-top {
		height: 50%; }
	.tabs {
		display: inline-flex;
		height: 100%;
		vertical-align: top; }
	.tab-bar-bottom {
		height: 50%;
		background-color: #333; }

	.add-tab {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 20px;
		height: 100%;
		background-color: #333;

		button {
			@extend %remove-button-defaults;
			@extend %max-size;

			svg {
				@extend %max-size; } }
		button:hover svg { 
			fill: $dark-blue; }
	}
	.tab-menu {
		top: 50%;
		left: 50%;
	}

	.tab {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-right: 5px;
		padding-left: 2px;
		width: 120px;
		height: 100%;

		.text {
			@extend %regular-font; }
		.remove-btn {
			@extend %remove-button-defaults;
			font-size: 25px; }
		.remove-btn:hover {
			color: $blue; }
	}
	.tab.active {
		background-color: #333; }

	.tab-parent {
		position: relative;
		flex: 1 1 auto;
	}
}
.tab-wrapper {
	position: relative;
	@extend %max-size; }


.node-settings-tab {
	@extend %max-size; }
.node-settings {}
