
@import "master";

html {
	position: fixed;
	@extend %max-size;
	background-color: gray; }
body {
	@extend %max-size;
	margin: 0; }
.root {
	@extend %max-size;
	border-radius: 5px; }

$std-border: 3px solid #444;
.editor {
	@extend %max-size;
	display: flex;
	flex-direction: column;
	user-select: none; }
%editor-box {
	background-color: #888;
	border: $std-border; }


.menubar {
	display: flex;
	align-items: flex-start;
	height: 50px;
	padding: 5px 10px;
	@extend %editor-box; }
%menubar__div {
	display: flex;
	align-items: center;
	height: 100%; }
.menubar__main-options { 
	@extend %menubar__div; }
.menubar__upload-btn {
	position: relative;
	width: 80px; 
	height: 40px;
	margin-right: 20px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #444; }
.menubar__upload-btn input {
	width: 0;
	height: 0; }
.menubar__upload-btn .text {
	@extend %centered-absolute;
	@extend %regular-font;
	font-size: $big-font-size; }
.menubar__upload-btn:hover .text {
	color: $blue; }
.menubar__undo-btn {
	@extend %remove-button-defaults;
	width: 40px;
	height: 40px;
	margin-right: 10px; }
.menubar__undo-btn svg { 
	@extend %max-size; }
.menubar__undo-btn:hover svg { 
	fill: $dark-blue; }
.menubar__undo-btn:disabled svg { 
	fill: #444; }
.menubar__tool-options { 
	@extend %menubar__div; }
.menubar__tool-options2 {
	@extend %max-size; }


.editor-content {
	flex: 1;
	display: flex;
	flex-direction: row; }


.toolbar {
	width: 138px;
	padding: 10px;
	@extend %editor-box;
	border-top-width: 0;  }
.toolbar__tools {
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	flex-wrap: wrap; }
.toolbar__tool {
	@extend %remove-button-defaults;
	width: 64px;
	height: 64px;
	margin-bottom: 10px;
	background-color: #666; }
.toolbar__tool:hover {
	background-color: $dark-blue; }
.toolbar__tool .text {
	@extend %regular-font;
	font-size: $big-font-size; }
.toolbar__options {
	display: flex; }


%area {
	position: relative;
	height: 100%;
	overflow: hidden;
	outline: none; }


.viewport-wrapper {
	@extend %area;
	flex: 1;
	background: #555;
	border: $std-border;
	border-color: #393939;
	border-top-width: 0;
	border-left-width: 0;
	border-bottom-width: 0; }
.viewport {
	@extend %default-absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0;
	height: 0;
	z-index: 0; }
.viewport__background {
	@extend %default-absolute;
	@extend %max-size;
	z-index: -1;
	background-image: url("../img/checkers.png"); }
.viewport__layers {
	position: absolute;
	overflow: hidden;
	@extend %max-size; }
.viewport__canvas-wrapper {
	@extend %default-absolute;
	overflow: hidden;
	z-index: 0; }
.viewport__canvas-wrapper.selected {
	z-index: 2; }
.viewport__canvas {
	@extend %default-absolute;
	transform-origin: top left; }

.node-editor {
	@extend %area;
	flex: 0.5;
	background: #555; }
.node-editor__search {
	display: block;
	box-sizing: border-box;
	height: 50px;
	padding: 10px 10px;
	background: #333; }
.node-editor__search-bar-wrapper {
	@extend %max-size;
	box-sizing: border-box;
	padding: 2px 5px;
	background: #fff;
	border-radius: 10px; }
.node-editor__search-bar {
	@extend %max-size;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center; }
.node-editor__search-bar input {
	@extend %remove-input-defaults;
	box-sizing: border-box;
	width: 100px;
	height: 100%;
	flex: 1;
	@extend %regular-font;
	font-size: 18px; }
.node-editor__search-btn {
	@extend %remove-button-defaults;
	position: relative;
	width: 30px;
	height: 90%; }
.node-editor__search-btn svg {
	@extend %default-absolute;
	@extend %max-size;
	fill: #333; }
.node-editor__search-btn svg:hover {
	fill: $blue; }
.node-space-wrapper {
	position: relative;
	outline: none;
	height: 100%; }
.node-space {
	@extend %default-absolute;
	@extend %max-size; }
.links-container {
	@extend %default-absolute;
	@extend %max-size; }
