
@import "master";

%text {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	@extend %regular-font;
}

.toggle {
	$toggle-height: 20px;
	$toggle-padding: 3px;
	user-select: none;
	label {
		display: inline-block;
		vertical-align: bottom;
		cursor: pointer; }
	input {
		position: absolute;
	  opacity: 0;
	  width: 0;
	  height: 0; }
	.toggle__slider {
		position: relative;
		display: block;
		width: 2 * $toggle-height;
		height: $toggle-height;
		border-radius: 10px;
		background: #ccc; }
	$before-height: $toggle-height - 2 * $toggle-padding;
	.toggle__slider:before {
		position: absolute;
		top: 50%;
		left: $toggle-padding;
		transform: translate(0, -50%);
		width: $before-height;
		height: $before-height;
		content: "";
		border-radius: 50%;
		background: white;
		transition: transform 0.2s; }
	.toggle__slider.checked {
		background: $blue; }
	.toggle__slider.checked:before {
		transform: translate($toggle-height - $toggle-padding / 2, -50%); }
	.toggle__text {
		@extend %text; }
}

$slider-width: 100px;
$slider-height: $regular-font-size;
.slider {
	display: inline-block; }
.slider input {
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	width: $slider-width;
	height: $slider-height / 2;
	margin: 0;
	background: #ccc;
	border-radius: $slider-height / 5.5;
	outline: none;
	cursor: pointer; }
.slider input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: $slider-height;
	height: $slider-height;
	background: #444;
	border-radius: 50%; }
.slider__text {
	@extend %text;
	user-select: none; }

.file-input {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 10px;
	height: 25px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	background-color: #444;

	input {
		@extend %default-absolute;
		width: 0;
		height: 0; }
	.text {
		@extend %regular-font;
		vertical-align: middle;
		margin: 0; }
}
.file-input:hover {
	.text {
		color: $blue; }
}

.floating-list {
	position: absolute;
	overflow: hidden;
	min-width: 100px;
	max-height: 200px;
	background-color: #555;
	border: 1px solid #333;
	border-bottom-width: 0;

	ul {
		@extend %remove-list-defaults;
		@extend %max-size; }
	li {
		padding: 2px;
		@extend %regular-font;
		border: 0 solid #333;
		border-bottom-width: 1px; }
}

.dynamic-list {
	@extend %remove-list-defaults;
	display: flex;
	flex-direction: column;

	.item {}
	.item-space {
		display: inline-block; }
	.remove-btn-parent {
		display: inline-block;
		margin: 0 10px;
		width: 30px; }
	.remove-btn {
		@extend %remove-button-defaults;
		width: 20px;
		height: 20px; }
	.add-btn-parent {}
	.add-btn {
		@extend %remove-button-defaults;
		width: 20px;
		height: 20px; }
	svg {
		@extend %max-size;
		fill: black; }
	svg:hover {
		fill: $blue; }
}

$text-margin: 5px;
$input-bd: 2px;
$input-width: 150px;
.text-input {
	display: flex;
	align-items: flex-end;
	font-size: $regular-font-size;

	.text {
		vertical-align: bottom;
		margin: 0;
		margin-right: $text-margin;
		@extend %regular-font;
		font-size: inherit; }
	input {
		@extend %remove-input-defaults;
		font-size: inherit;
		vertical-align: top;
		box-sizing: border-box;
		padding: 0 2px;
		width: $input-width;
		height: 1em;
		border-radius: $input-bd;
		background-color: white; }
}
.text-input.inverse {
	flex-direction: row-reverse;
	.text {
		margin: 0;
		margin-left: $text-margin; }
}

.dropdown {
	display: flex;
	align-items: flex-end;
	font-size: $regular-font-size;

	.text {
		vertical-align: bottom;
		margin: 0;
		margin-right: $text-margin;
		@extend %regular-font;
		font-size: inherit; }
	select {
		@extend %remove-select-defaults;
		display: inline;
		vertical-align: top;
		font-size: inherit;
		width: $input-width;
		height: 1em;
		border-radius: $input-bd; }
	option {
		@extend %regular-font; }
}
.dropdown.inverse {
	flex-direction: row-reverse;
	.text {
		margin: 0;
		margin-left: $text-margin; }
}

.message-box {
	border: 0.5px solid #444;
	background-color: #888;
	height: 20px;
	padding: 0 5px;

	svg {
		display: inline;
		vertical-align: middle;
		height: 18px;
		width: 18px;
		margin-right: 3px;
		fill: red; }
	.text {
		display: inline;
		vertical-align: middle;
		@extend %regular-font; }
}
.message-box.error {
	border-color: red;

	.text {
		color: red; }
}

.color-picker {
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	background: #666;

	$child-height: 20px;
	* {
		vertical-align: middle;
		height: $child-height; }

	.hex-input {
		margin-right: 5px;
		border: none;
		outline: none;
		box-sizing: border-box;
		padding: 2px;
		@extend %regular-font; }
	.close {
		@extend %remove-button-defaults;
		width: $child-height;
		margin: 0;
		background: #aaa;
		border-radius: 25%;
		user-select: none;
		@extend %regular-font;
		font-size: $child-height;
		text-align: center; }
	.alpha-slider {
		margin-top: 5px; }
}

.color-box {
	$dim: 64px;
	position: relative;
	overflow: hidden;
	width: $dim;
	height: $dim; }
.color-box__hex {
	position: absolute;
	top: calc(100% - 2px);
	left: 5px;
	transform: translateY(-100%);
	@extend %regular-font;
	font-size: 14px; }
