
@import "master";

$border-color: #888;
.node-wrapper {
	@extend %default-absolute;
	width: 100px;
	height: 30px;
	background-color: #ddd;
	border: 1px solid $border-color;
	border-radius: 10px;

	.points {
		@extend %default-absolute;
		width: 100%;
		height: 1px;
		display: flex;
		justify-content: space-around;
		align-items: center; }
	.points.inputs {
		top: 0; }
	.points.outputs {
		top: 100%; }
	$radius: 10px;
	.point {
		width: $radius;
		height: $radius;
		background-color: #ccc;
		border-radius: 50%; }

	.node {
		@extend %max-size;
		display: flex;
		justify-content: space-between;
		cursor: default;
		border-radius: inherit;
		overflow: hidden;

		%toggle {
			@extend %remove-button-defaults;
			position: relative;
			display: inline-block;
			box-sizing: border-box;
			width: 20%;
			height: 100%;
			border: 0 solid lighten($border-color, 5%);
			cursor: default;
		}
		.toggle-view {
			@extend %toggle;
			border-left-width: 1px;
			svg {
				width: 80%;
				height: 80%;
			} }
		.toggle-view.on, .toggle-view.on:hover {
			background-color: $blue; }
		.toggle-view:hover {
			background-color: lighten($blue, 20%); }
		.toggle-lock {
			@extend %toggle;
			border-right-width: 1px;
			svg {
				width: 70%;
				height: 70%;
			} }
		.toggle-lock.on, .toggle-lock.on:hover {
			background-color: $yellow; }
		.toggle-lock:hover {
			background-color: lighten($yellow, 20%); }
	}
}

.node-wrapper.selected {
	border-color: orange;
}

.node-link {
	position: absolute;
	pointer-events: none;
	svg {
		pointer-events: none;
		@extend %max-size; }
	.line {
		pointer-events: none;
		stroke: black;
		stroke-width: 1.5px;
	}
	.click-box {
		pointer-events: none;
		stroke: #0000;
		stroke-width: 20px;
	}
}
.node-link.completed {
	.click-box {
		pointer-events: stroke;
	}
}
.node-link.selected {
	.line {
		stroke: orange;
	}
}
