
@import "~css/_globals";
@import "~css/_colors";

.undoRedoBtn {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.undoRedoSvg:hover { 
	fill: $dark-blue;
}
.undoRedoSvg:disabled { 
	fill: #444;
}
